*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/nP5HPw4.jpeg");
}

.card{
  margin-top: 6rem;
  width: 400px;
height: 500px;
background-color: yellowgreen;
border: 15px solid yellow;
border-radius: 10px;

}

.balbasaur{
  width: 370px;
  height: 200px;
 padding: 5px;
 margin: auto;
 
}

